:root {
  --primaryOld: #cde4de;
  --primary: #303134;
  ;
  --darker: rgba(0, 0, 0, 0.4);
  --shadow: rgba(0, 0, 0, 0.1);
  --highlight: #005e8a;
  --text: #e8eaed;
  --light-blue-grey: #bdc1c6;
  --dark: rgba(0, 0, 0, 0.9);
}

* {
  box-sizing: border-box;
}

html,
body,
#wrapper,
#root {
  height: 100%;
}

html {
  font-family: sans-serif;
  color: var(--text);
}

body {
  margin: 0;
  /* background-image: url("https://www.businessinsider.in/photo/47547654/40-trips-you-should-take-before-you-turn-30/explore-the-sahara-desert-the-largest-desert-on-the-african-continent-.jpg"); */
  /* background-image: url("https://povilas-weather-app.netlify.app/1540012.jpg");
  background-repeat: no-repeat; */
  font-size: 14px;
  font-family: arial, sans-serif;
  color: var(--light-blue-grey);
  background-color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--highlight);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  padding: .5rem;
  border: 0;
  border-radius: 0px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #202124;
  width: 100%;
  border-radius: 24px;
  color: var(--text);
  min-height: 44px;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 1584px
}

input:focus {
  outline: 2px solid var(--darker);
}

button {
  border-radius: .5rem;
  border: 1px solid var(--darker);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper>* {
  width: 650px;
  max-width: calc(100% - 2rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
}

main {
  flex-grow: 1;
  max-width: 100%;
}

main>* {
  width: 100%;
}

footer {
  padding-bottom: 1rem;
  text-align: center;
}

#location-search {

  & h2 {
    margin-bottom: .5rem;
  }

  & button {
    margin-top: .5rem;
    padding: .5rem;
  }
}

.form-field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;

  & input {
    max-width: 100%;
  }
}

.error {
  color: maroon;
}

.module {
  background-color: var(--primary);
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 5px var(--shadow);
}

.location {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
  background-color: var(--shadow);
  padding: .5rem;
  border-radius: .5rem;
  /* word-break: break-all; */
}

.location>* {
  overflow-x: hidden;
}

.location>*:has(button) {
  text-align: right;
}

.subregion {
  font-size: .8rem;
  font-style: italic;
}

#weather-display td {
  text-align: center;
}

.jcfe {
  display: flex;
  justify-content: flex-end;
}

.jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jcse {
  display: flex;
  justify-content: space-evenly;
}

.tac {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.img-me {
  border-radius: 50%;
  width: 30%;
  margin: auto;
  /* width: 30%; */
}

.about-h2 {
  margin-top: .5rem;
}

@media screen and (max-width: 300px) {
  html {
    font-size: 85%;
  }

  #logo {
    font-size: 1em;
  }

  .module {
    padding: .5rem;
  }
}